<div class="mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search" class="form-label">Search something...</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search"
        placeholder="Enter"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>